<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="icon" href="../static/icon_cute_perry.PNG" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>{{ error_message }}</p>
                    <hr>
                    <p class="mb-0">Please try again with a different search term.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <a href="/" class="btn btn-secondary btn-block">Back to Search</a>
            </div>
        </div>
    </div>
</body>
</html>
